
html {
  font-size: 1rem;
  font-family: 'Heebo', sans-serif;
  background-color: #fff;
}

body {
  padding:5em 0;
}

main {

}

h1 {
  font-color: #000;
}

div {
  background: #000;
}

.long-vertical {
  display:grid;
  grid-template-columns: repeat(33, 1em);
  grid-template-rows: repeat(35, 1em);
  width: 1em;
  height: 35em;
}

.long-vertical-1 {
  grid-area: 1 / 1 / 35 / 2;
}

.long-vertical-2 {
  grid-area: 1 / 3 / 35 / 4;
}

.long-vertical-3 {
  grid-area: 1 / 5 / 35 / 6;
}

.long-vertical-4 {
  grid-area: 1 / 7 / 35 / 8;
}

.long-vertical-5 {
  grid-area: 1 / 9 / 35 / 10;
}

/* ==== max width 550px ==== */

@media only screen and (max-width: 550px) {

 main {
   width: auto;
   margin-top: 300px;
  }

}